<script type="text/ng-template" id="commentChildrenTree">
    <%- include ./_commentChain.ejs %>
</script>

<script type="text/ng-template" id="_posts">
    <%- include ../widgets/_posts.ejs %>
</script>

<script type="text/ng-template" id="_comments">
    <%- include ../widgets/_comments.ejs %>
</script>

<script type="text/ng-template" id="_mentions">
    <%- include ../widgets/_mentions.ejs %>
</script>

<script type="text/ng-template" id="_addWidget">
    <%- include ../widgets/_addWidget.ejs %>
</script>


<span data-as-sortable="controlListener" id="dashboard-container" data-ng-model="items">
    <md-grid-list
            md-cols-sm="1" md-cols-md="3" md-cols-gt-md="4"
            md-row-height-gt-md="3:2" md-row-height="1:1"
            md-gutter="10px" md-gutter-gt-sm="20px">

        <md-grid-tile ng-repeat="item in items"
                      md-rowspan="1" md-colspan="1">
            <span layout-fill ng-include="item"  data-as-sortable-item>
            </span>
        </md-grid-tile>

        <md-grid-tile md-rowspan="1" md-colspan="1">
            <span layout-fill ng-include="'_addWidget'">
            </span>

            <!--<div layout-fill class="md-padding">-->
                <!--<md-card layout-align="center center" layout="column" style="height: 300px;" class="md-padding">-->
                    <!--<span layout-align="center center" class="text-center">-->
                        <!--<i class="zmdi zmdi-widgets zmdi-hc-4x"></i>-->
                        <!--<h3>Add a Widget</h3>-->
                    <!--</span>-->
                <!--</md-card>-->
            <!--</div>-->
        </md-grid-tile>


    </md-grid-list>
</span>