<md-button href="/accounts" class="md-primary page-link"> < Back to social profile list</md-button>



<script type="text/ng-template" id="_audienceGender">
    <%- include ../../widgets/_audienceGender.ejs %>
</script>

<script type="text/ng-template" id="_audienceAge">
    <%- include ../../widgets/_audienceAge.ejs %>
</script>

<script type="text/ng-template" id="_audienceChange">
    <%- include ../../widgets/_audienceChange.ejs %>
</script>

<script type="text/ng-template" id="_audienceAnalysis">
    <%- include ../../widgets/_audienceAnalysis.ejs %>
</script>
<script type="text/ng-template" id="_recommendation">
    <%- include ../../widgets/_recommendation.ejs %>
</script>



<md-card class="md-padding">
    <span layout="column" layout-gt-sm="row">
        <h2 ng-bind="activePage.name + '\'s Overview '" flex></h2>
        <md-button>Trend: {{currentTrend}}</md-button>
    </span>
    <small>Click on the labels to get further details.</small>

    <canvas flex id="fansChart" flex-grow style="max-height: 500px !important;" layout="row"></canvas>
</md-card>

<div layout="row" layout-wrap class="md-padding" layout-align="center start">

    <span layout="column" flex="100" flex-gt-md="30">
        <span ng-include="'_audienceAge'"  data-as-sortable-item>
        </span>
        <span ng-include="'_audienceGender'"  data-as-sortable-item>
        </span>
        <span ng-include="'_audienceChange'"  data-as-sortable-item>
        </span>
        <span ng-include="'_audienceAnalysis'"  data-as-sortable-item>
        </span>


    </span>

    <span layout="column" flex="100" flex-gt-md="30">
        <span ng-include="'_recommendation'"  data-as-sortable-item>
        </span>
    </span>

    <span layout="column" flex="100" flex-gt-md="30">
        <md-card class="md-whiteframe-3dp" ng-if="enabledCard['analysis_keywords']">
            <md-subheader class="md-primary" >Content Analysis</md-subheader>

            <span ng-if="!loadedCard['analysis_keywords']" layout-padding class="text-center">
                <h3>Analysis of what topics reach more audience.</h3>
                <md-button class="md-primary md-raised md-padding" href="/billing">Upgrade now</md-button>
            </span>
            <span class="md-padding text-center" ng-if="!loadedCard['analysis_keywords']">
                <h3>Loading data...</h3>
                <md-button disabled flex>
                    <i class="zmdi continious_rotation zmdi-refresh-sync md-padding zmdi-hc-5x"></i>
                </md-button>
            </span>

            <canvas flex id="keywordChart" ng-show="loadedCard['analysis_keywords']" flex-grow
                    style="max-height: 300px !important;" layout="row"></canvas>
        </md-card>


        <md-card class="md-whiteframe-3dp">
            <md-subheader class="md-primary" >Posting Schedule</md-subheader>

            <span layout-padding class="text-center" ng-if="scheduledPosts.length == 0 || scheduledPosts == null">
                <h3>You currently have no scheduled posts.</h3>
                <md-button class="md-primary md-raised md-padding" ng-click="addPost()">Create a post</md-button>
            </span>
            <md-list layout-align="stretch" class="md-dense">
                <md-list-item class="md-2-line" layout="row" layout-align="center center"
                              ng-repeat="post in scheduledPosts" ng-click="addPost(post._id)">
                    <md-button disabled aria-label="image">
                        <i class="zmdi zmdi-image zmdi-hc-lg" ng-if="post.tags.indexOf('Image')"></i>
                    </md-button>

                    <span class="md-list-item-text" layout-align="stretch" layout="column">
                        <h3 layout="row">
                            Scheduled {{post.post_time | amTimeAgo}} at {{post.post_time | amDateFormat:'LT'}}
                        </h3>
                        <span layout="row">
                            <p ng-bind="post.content"></p>
                        </span>
                    </span>
                </md-list-item>
            </md-list>
        </md-card>
    </span>


</div>